@import url(https://fonts.googleapis.com/css?family=Lato:400,900);

body {
  /*background: #674172;*/
  /*background: #953163;*/
  /*background: #763568;*/
  /*background: #5B3256;*/
  background: #5D3F6A;
  color: #DEDEDE;
  font-family: 'Lato';
}

.alertify .dialog {
  color: #000;
}

.btn {
  border-radius: 2px;
  outline: none;
  /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);*/
  /*box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);*/
}

.btn:focus,
.btn:active {
  outline: none !important;
}

.btn-default {
  background: #EEEEEE;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  background: #EEEEEE;
}

.btn-danger {
  background: #f44336;
  border: none;
  color: rgba(255, 255, 255, 0.97);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
  background: #f44336;
  border: none;
  color: rgba(255, 255, 255, 0.97);
}

.btn-primary {
  background: #00aa9a;
  border: none;
  color: rgba(255, 255, 255, 0.97);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background: #00aa9a;
  border: none;
  color: rgba(255, 255, 255, 0.97);
}

.btn-success {
  background: #4caf50;
  border: none;
  color: rgba(255, 255, 255, 0.97);
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus {
  background: #4caf50;
  border: none;
  color: rgba(255, 255, 255, 0.97);
}

.btn-warning {
  background: #ff5722;
  border: none;
  color: rgba(255, 255, 255, 0.97);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus {
  background: #ff5722;
  border: none;
  color: rgba(255, 255, 255, 0.97);
}

.btn-fab {
  background: #E32F6C;
  border-color: #E32F6C;
  color: #EEE;
}

.btn-fab:active,
.btn-fab:hover,
.btn-fab:focus {
  background: #E32F6C;
  border-color: #E32F6C;
  color: #EEE;
}

.btn-transparent {
  background: transparent;
  box-shadow: none;
  border: none;
  color: #EEE;
}

.btn-transparent:hover,
.btn-transparent:active,
.btn-transparent:focus,
.btn-transparent:target {
  background: transparent;
  border: none;
  color: #FFF;
  outline: none;
  text-decoration: none;
}

.card-towatch-item {
  background: #5B3256;
}

.card-result {
  background: #FFF;
  box-shadow: 0px 0px 5px #888;
  color: #5D3F6A;
}

.modal-dialog > .modal-content {
  border: none;
  border-radius: 0px;
}

.modal-dialog > .modal-content > .modal-body {
  background: #F2F1EF;
  color: #5B3256;
}

.modal-dialog > .modal-content > .modal-footer {
  background: #F2F1EF;
  color: #5B3256;
}

.modal-dialog > .modal-content > .modal-header {
  /*background: #DB5A6B; For pink light*/
  background: #E6567A;
  border-bottom: none;
  color: #F2F1EF;
}

.modal-dialog > .modal-content > .modal-header .close {
  color: #FFF;
}

.subtle-text {
  color: #CCC;
}

.sweet-alert {
  background: #F2F1EF;
  border-radius: 0px;
}

.sweet-alert button {
  border-radius: 2px;
  margin: 5px;
}

.sweet-content {
  color: #000;
}

.top-bar {
  background: #E32F6C;
  color: #EEE;
}