
body {
  background: #00141b;
  color: #DDD;
  font-family: 'Open Sans';
}

.btn-dark-trans {
  background: transparent;
  border: none;
  color: #DDD;
}

.btn-dark-trans:hover,
.btn-dark-trans:active {
  background: transparent;
  border: none;
  color: #EEE;
}

.btn-topbar {
  background: transparent;
  border: none;
  color: #EEE;
}

.btn-topbar:hover {
  background: transparent;
  color: #FFF;
}

.btn-fab-blue {
  background: #337ab7;
  border-color: #2e6da4;
  /*background: #f94877;
  border-color: #f94877;*/
  border-radius: 50%;
  bottom: 20px;
  box-shadow: 0px 0px 5px #333;
  color: #EEE;
  height: 45px;
  max-height: 45px;
  min-height: 45px;
  padding: 10px 2%;
  position: fixed;
  right: 20px;
  width: 45px;
  z-index: 2;
}

.card-towatch-item {
  background: #22313F;
  padding-bottom: 15px;
  padding-top: 30px;
}

.card-towatch-item-image-container {
  width: 100%;
}

.card-result {
  background: #FFF;
  box-shadow: 0px 0px 5px #888;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-right: 5px;
}

.card-result-bottom-buttons {
  position: absolute;
  bottom: 0px;
  padding: 17px 17px 8px;
  right: 0px
}

.movie-search-result-card-content {
  max-height: 135px;
  min-height: 135px;
}

.movie-search-result-card-image {
  padding-right: 5px;
  width: 100px;
}

.modal-dialog > .modal-content {
  border: none;
  border-radius: 0px;
}

.modal-dialog > .modal-content > .modal-body {
  background: #F2F1EF;
  color: #111;
}

.modal-dialog > .modal-content > .modal-footer {
  background: #F2F1EF;
  color: #111;
}

.modal-dialog > .modal-content > .modal-header {
  background: #317589;
  border-bottom: none;
  color: #F2F1EF;
}

.modal-dialog > .modal-content > .modal-header .close {
  color: #FFF;
}

.top-bar {
  /*background: rgba(255, 255, 255, 0.95);*/
  /*background: #111;*/
  background: #2980b9;
  /*background: #f94877;*/
  border-bottom: 2px solid #000;
  color: #DDD;
  height: 55px;
  left: 0;
  max-height: 55px;
  min-height: 55px;
  padding: 10px 2%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.trailer-chooser-result-image {
  margin-right: 10px;
}



/******************************************************************************/
/******************************************************************************/



.background-even {
  background: #FEFEFE;
}

.background-not-even {
  background: #FFF;
}

.btn:focus {
  outline: none !important;
}

.btn-dark-black {
  background: #34465D;
  border-color: #2980b9;
  border-radius: 5px;
  /*border-color: #f94877;*/
  color: #DDD;
}

.btn-dark-black:hover {
  background: #34465D;
  border: 1px solid #2980b9;
  color: #FFF;
}

.btn-dark-black:active {
  background: #000;
}



.btn-dark-blue {
  background: #00AFF0;
  border: 1px solid #21759b;
  color: #22313F;
}

.bordered {
  border: 1px solid #FFF;
}



.hidden-overflow {
  overflow: hidden;
}

.no-margin {
  margin: 0px;
}

.no-padding-horizontal {
  padding-left: 0px;
  padding-right: 0px;
}

.no-padding-right {
  padding-right: 0px;
}

.no-padding-vertical {
  padding-bottom: 0px;
  padding-top: 0px;
}



/*****************************************************************************/

/** Ultra small device start point */
@media (min-width: 375px) {
  .movie-search-result-card-image {
    width: 120px;
  }

  .movie-search-result-card-content {
    max-height: 172px;
    min-height: 172px;
  }
}

/** Small devices start point */
@media (min-width: 758px) {
  .card-towatch-item {
    padding-top: 0px;
  }

  .movie-search-result-card-content {
    min-height: 203px;
    max-height: 203px;
  }

  .movie-search-result-card-image {
    width: 140px;
  }
}

/* Extra large devices start point */
@media (min-width: 971px) {

  .no-padding-on-small {
    padding-top: 20px;
  }
}



/*****************************************************************************/

/** Extra small devices */
@media (max-width: 767px) {
  .modal-dialog {
    margin: 0px;
  }
}

/* Small devices */
@media (max-width: 991px) {

}

/* Large devices */
@media (max-width: 970px) {

  .no-padding-on-small {
    padding: 0px;
  }
}